@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 17px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  font-family: "Outfit", sans-serif;
  line-height: 1.6;
}

p {
  font-size: 17px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  font-family: "Outfit", sans-serif;
  line-height: 1.6;
  white-space: nowrap;
}

@media (max-width: 535px) {
  h1 {
    font-size: 15px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-family: "Outfit", sans-serif;
    text-align: center;
    word-wrap: break-word;
  }

  p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-family: "Outfit", sans-serif;
    text-align: center;
    word-wrap: break-word;
  }
}
