@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 15px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  font-family: "Outfit", sans-serif;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  font-family: "Outfit", sans-serif;
}

/* - White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700 */
